.active {
  background-color: red;
}
.search-container {
  position: relative;
}

mat-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: #999999;
}

.search {
  padding-left: 30px; /* A d'ajuster en fonction de la taille de l'icône */
}

a{
  cursor: pointer;
}


.custom-menu {
  background-color: red; /* Remplacez par la couleur de fond souhaitée */
  min-width: fit-content !important;
  border-radius: 20px !important;
}