@import "../../custom-theme_pallete.scss";

.active {
  background-color: map-get($pink-palette, 700);
}
.search-container {
  position: relative;
}

header{
  background-color: #bbdefb;
}
mat-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: #c2185b;
}

.search {
  padding-left: 30px; /* A d'ajuster en fonction de la taille de l'icône */
}

a{
  cursor: pointer;
  background-color: #c2185b;
  border-radius: 0 16px;
}
