<ng-container *ngIf="serie$ | async as data; else loding">
  <ng-container *ngIf="data.detailsSerie as serie ; else errors"><!-- -->
    <div  class="text-amber-50 mt-24">
      <h1 *ngIf="serie.title" class="mx-auto text-center text-4xl p-6">{{ serie.title!=='' ? serie.title : 'Aucun titre à afficher' }}</h1>
      <div class="flex justify-center max-md:flex-wrap">
        <div class="max-md:h-60 max-md:overflow-auto text-right self-center">
        <p *ngIf="serie.director" class="pr-4 pb-4 font-bold">Realisateur<br><span class="font-thin pt-2 block">{{serie.director}}</span></p>
        <p *ngIf="serie.release_date && serie.release_date !== '0000-00-00'" class="p-3 font-bold">Date de réalisation<span class="font-thin pt-2 block">{{serie.release_date}}</span></p>
        <p *ngIf="serie.genres.length!==0 && serie.genres" class="max-md:inline-block p-3 font-bold">Genres
          <span  class="max-md:w-min font-thin pt-2 block">
            <span *ngFor="let genre of serie.genres | keyvalue; last as isLast">{{genre.value}}{{isLast ? '.' : ', ' }}</span>
          </span>
        </p>
        <p *ngIf="serie.length && serie.length!==0" class="p-3 font-bold">Durée<span class="font-thin pt-2 block">{{serie.length | time}}</span></p>
        <p *ngIf="serie.followers" class="p-3 font-bold">followers<span class="font-thin pt-2 block">{{serie.followers}} {{ serie.followers === 1 ? 'membre' : 'membres' }}</span></p>
        <p *ngIf="serie.language" class="p-3 font-bold">Langague<span class="font-thin pt-2 block">{{serie.language}}</span></p>
      </div>
      <div >
        <img *ngIf="serie.images.poster else elseBlockImg" class="max-md:w-40 w-80" src="{{serie.images.poster}}" alt="Photo de couverture serie">
        <ng-template #elseBlockImg>
          <img class="max-md:w-20 w-80 img-heaight" src="https://cdn.pixabay.com/photo/2017/05/13/09/04/question-2309042_960_720.jpg" alt="Photo de couverture serie">
        </ng-template>
      </div>
      <div class="md:ml-40">'""  Pas de video  ""'</div>
      </div>
      <p *ngIf="serie.description" class="max-md:h-60 max-md:overflow-auto max-md:w-3/4 max-md:mt-5 mx-auto text-center pt-4 font-bold w-1/2">Synopsis : <span class="font-thin pt-4">{{serie.description}}</span></p>
      <p *ngIf="serie.tagline" class="max-md:h-fit max-md:overflow-auto max-md:w-3/4 max-md:mt-5 pt-4 text-center"><span class="font-thin">{{serie.tagline}}</span></p>
    </div>
  </ng-container>
  <ng-template #errors>
    <div class="flex justify-center">
      <p  class="text-2xl absolute top-1/2 -translate-y-1/2 text-red-500">
        <ng-container *ngIf="data.status === 404 || data.status === 0; else errors">
          {{ data.statusText }}. code :{{ data.status }}
        </ng-container>
        <ng-template #errors>
          {{ data.error.errors[0].text }}. code :{{ data.error.errors[0].code }}
        </ng-template>
      </p>
    </div>
  </ng-template>
</ng-container>
<ng-template #loding>
  <div class="flex justify-center flex-wrap text-white">
    <p class="text-amber-50 text-2xl p-2 bg-red-600 rounded-2xl absolute top-1/2 -translate-y-1/2"> loading ... !!</p>
  </div>
</ng-template>
