
mat-form-field {
  margin: 20px 0px;
  width: 100%;
}

.button-hide-pass-word {
  background-color: transparentize(
    $color: #1976d2,
    $amount: 0.8
  );
}

.button-validate {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

a {
  box-shadow: 0px 5px 5px -5px #1976d2;
}
