<mat-dialog-content class="w-min">
  <h1>{{ dialogLogin ? "Login" : "Mot de passe oublié" }}</h1>
  <hr />
  <form [formGroup]="formLogin" (submit)="onSubmit($event)">
    <mat-form-field>
      <mat-label>Email :</mat-label>
      <input matInput type="text" name="email" formControlName="email" />
      <mat-error class="max-lg:text-xs" #formLoginMatError *ngIf="formLogin.get('email')?.invalid">{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="dialogLogin">
      <mat-label>Mot de passe :</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="passWord" formControlName="passWord" placeholder="Mot de passe" />
      <button mat-icon-button matSuffix type="button" class="button-hide-pass-word" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error class="max-lg:text-xs" #formLoginMatError *ngIf="formLogin.get('passWord')?.invalid">{{getErrorMessage('passWord')}}</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" class="button-validate" color="accent" [disabled]="formLogin.invalid">Valider</button>
    <a mat-button *ngIf="dialogLogin; else dialogPassForget" class="max-lg:text-center max-lg:text-xs text-blue-500" (click)="changeContentDialog()">Mot de passe oublié ?</a>
    <ng-template #dialogPassForget >
      <a mat-button class="max-lg:text-center max-lg:text-xs text-blue-500" (click)="changeContentDialog()">Se connecter !</a></ng-template>
  </form>
</mat-dialog-content>







<!-- formControlName utiliser avec le [formGroup] // [formControl] utiliser sans [formGroup]  -->

<!-- <div class="example-container" [formGroup]="myGroup">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="eemail" required>
    <p>{{eemail|json}}</p>
    <mat-error *ngIf="eemail.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>

<div>
  <form #form="ngForm" (ngSubmit)="onSubmita(form)" novalidate>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" required name="name" #name="ngModel" placeholder="name">
    <p>{{hero.name}}</p>
    <button type="submit">sub</button>
  </form>
</div> -->