<div class="max-sm:w-fit max-sm:m-1 m-8 p-3 bg-white bg-opacity-20 rounded-2xl hover:contrast-125 hover:bg-opacity-40">
<a routerLink="/series/{{singlSerie.id}}" routerLinkActive="active">
  <img *ngIf="singlSerie.images.poster; else elseBlock" class="max-sm:w-24 w-60" src="{{singlSerie.images.poster}}" alt="Photo de couverture série">
  <ng-template #elseBlock>
    <img class="max-sm:w-24 max-sm:h-36 w-60 h-80" src="https://cdn.pixabay.com/photo/2017/05/13/09/04/question-2309042_960_720.jpg" alt="Photo de couverture série">
  </ng-template>
  <p class="max-sm:hidden">{{singlSerie.title}}</p>
  <p class="max-sm:w-24 w-60">Date de sortie :{{singlSerie.creation}}</p>
</a>
</div>

