/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../var.css";

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("https://img.betaseries.com/c2lhILk3DOwsw3j1vOGDT4t_zsQ=/920x540/smart/filters:blur(30)/https%3A%2F%2Fpictures.betaseries.com%2Ffilms%2Fbackdrops%2Foriginal%2F540.jpg");
  background-size: cover;
  background-attachment: fixed;
}



/* hundler Stype mat menu composant header */
.custom-menu {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.377) 5%, black 100%);
  border-radius: 20px !important;
  ;
}

.custom-menu span {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important
}
