<div *ngIf="(genre$ | async) as dataGenre" class="hide-genre custom max-lg:h-20 max-lg:overflow-auto max-lg:top-16 flex justify-center flex-wrap text-white sticky top-24 z-10">
  <ng-container *ngIf="isResponseGenres(dataGenre); else errors">
    <ng-container *ngFor="let genre of castResponseGenres(dataGenre).getGenreArray()">
      <button #btn class=" max-lg:text-xs p-1 rounded-2xl m-0" (click)="onClick(genre, btn)">{{genre}}</button>
    </ng-container>
  </ng-container>
  <ng-template #errors>
    <div class="hide-genre custom max-lg:h-20 max-lg:overflow-auto max-lg:top-16 flex justify-center flex-wrap text-white sticky z-10">
      <ng-container *ngIf="castHttpErrorResponse(dataGenre); let httpErrorResponse; else errors">
        <ng-container *ngIf="httpErrorResponse.status === 404 || httpErrorResponse.status === 0; else errors">
          {{ httpErrorResponse.statusText }}. code :{{ httpErrorResponse.status }}
        </ng-container>
        <ng-template #errors>
          {{ httpErrorResponse.error.errors[0].text }}. code :{{ httpErrorResponse.error.errors[0].code }}
        </ng-template>
      </ng-container>
    </div>
  </ng-template>
</div>
