
button {
  background-color: #c2185b;
}

.custom {
  background: linear-gradient(
    to left,
    #bbdefb,
    #1565c0,
    #bbdefb
  );
  border-radius: 16px;
}

@media not (min-height: 450px) {
  .hide-genre{
    display: none;
  }
}