
button {
  background-color: #884c29;
}

.selected{
  background-color: rgb(27, 26, 26);
}

.custom {
  background: linear-gradient(
    to left,
    #bbdefb3d,
    #1565c0,
    #bbdefb3b,
  );
  border-radius: 16px;
}

@media not (min-height: 450px) {
  .hide-genre{
    display: none;
  }
}
