<div *ngIf="(genre$ | async) as dataGenre" class="hide-genre custom max-lg:h-20 max-lg:pt-2 max-lg:pb-2 max-lg:overflow-auto flex justify-center flex-wrap text-white sticky">
  <ng-container *ngIf="isResponseGenres(dataGenre); else errors">
    <ng-container *ngFor="let genre of castResponseGenres(dataGenre).getGenreArray()">
      <button #btn class=" max-lg:text-xs p-1 rounded-md m-1" (click)="onClick(genre, btn)">{{genre}}</button>
    </ng-container>
  </ng-container>
  <ng-template #errors>
    <div class="hide-genre custom max-lg:text-xs max-lg:h-20 max-lg:overflow-auto flex justify-center flex-wrap text-white sticky">
      <ng-container *ngIf="castHttpErrorResponse(dataGenre); let httpErrorResponse; else errors">
        <ng-container *ngIf="httpErrorResponse.status === 404 || httpErrorResponse.status === 0; else errors">
          {{ httpErrorResponse.statusText }}. code :{{ httpErrorResponse.status }}
        </ng-container>
        <ng-template #errors>
          {{ httpErrorResponse.error.errors[0].text }}. code :{{ httpErrorResponse.error.errors[0].code }}
        </ng-template>
      </ng-container>
    </div>
  </ng-template>
</div>
