
button {
  background-color: #2ebbd4;
}

.selected{
  background-color: rgb(27, 26, 26);
}

.custom {
  background: linear-gradient(
    to left,
    #bbdefb3d,
    #000000,
    #bbdefb3b,
  );
  border-radius: 1px;
}

@media not (min-height: 450px) {
  .hide-genre{
    display: none;
  }
}
